// Component: Accordions (various types).
//
// Supporting:
// themetest/accordion1 (but not light)
// themetest/accordion2 (sort of, the nested one works.)
// themetest/accordion3
// themetest/accordion4 (fieldset)
// themetest/accordion5 (wontfix)
// themetest/accordion6
// themetest/accordion7 (wontfix)
// themetest/accordion8 - Recommended
@keyframes crm-details-show {
  from {
    opacity: 0;
    transform: translateY(-0.5rem);
  }

  50% {
    transform: translateY(-0.1rem);
  }
}

@mixin accordion-container {
  margin-bottom: 1.6rem;
  margin-top: 1.6rem;
  border-radius: 4px;
  padding-left: 3rem;
  padding-right: 1.6rem;
  border: solid 1px $colourLayeredBackground;
  background: $colourLayeredBackground;
}

@mixin accordion-container-light {
  background: transparent;
}

@mixin accordion-container-open {}

@mixin accordion-container-open-light {}

@mixin accordion-summary {
  display: block;
  padding: 0.8rem 1.6rem 0.8rem 3rem;
  margin-left: -3rem;
  margin-right: -1.6rem;
  color: $colourArtfulDarkBlue;
  font-weight: bold;
  transition: background-color 0.2s;
  position: relative;
  cursor: pointer;

  &:hover {
    background-color: mix($colourArtfulBrightBlueHigh, $colourSubtleHoverLightBlueGrey, 50%);
  }

  &::before {
    content: '';
    border-width: .4rem;
    border-style: solid;
    border-color: transparent transparent transparent $colourArtfulBrightBlue;
    position: absolute;
    top: 1.5rem;
    left: 1.5rem;
    transform: rotate(0);
    transform-origin: .2rem 50%;
    transition: .25s transform ease;
  }

  &::-webkit-details-marker {
    display: none;
  }
}

@mixin accordion-summary-open {
  &::before {
    transform: rotate(90deg);
  }
}

@mixin accordion-body {
  animation: crm-details-show 240ms ease-in-out;
  padding: 1rem 0;

  &:first-child {
    margin-top: 0;
  }

  &:last-child {
    margin-bottom: 0;
  }
}

// Extra work for fieldsets.
html.js fieldset.collapsed.crm-collapsible {
  height: auto;
}

body.aah-theme fieldset.crm-collapsible>.collapsible-title {
  font-size: inherit;
  width: calc(100% + 4.6rem);
  border-radius: 4px 4px 0 0;
  margin-bottom: 0;
}

// Container: The outer container
.crm-container details,
.crm-accordion-wrapper,
div.crm-collapsible,
fieldset.crm-collapsible {
  @include accordion-container;
}

// Container: The 'light' container style
.crm-container details.crm-accordion-light,
.crm-accordion-wrapper.crm-case_search-accordion {
  @include accordion-container-light;
}

// Container: Changes to the container when open
.crm-container details[open],
.crm-accordion-wrapper:not(.collapsed),
.crm-collapsible:not(.collapsed) {
  @include accordion-summary-open;
}

// Container: Changes to the container when open - light version
.crm-container details.crm-accordion-light[open] {
  @include accordion-container-open-light;
}


// Summary: always shown and toggles body.
.crm-container details>summary,
.crm-accordion-wrapper>.crm-accordion-header,
div.crm-collapsible>.collapsible-title,
body.aah-theme fieldset>.collapsible-title {
  @include accordion-summary;
}

// Summary: Changes when open
.crm-container details[open]>summary,
.crm-accordion-wrapper:not(.collapsed)>.crm-accordion-header,
.crm-collapsible:not(.collapsed)>.crm-collapsible-title {
  @include accordion-summary-open;
}

// Content: the toggled bit.
.crm-container details>.crm-accordion-body,
.crm-accordion-wrapper>.crm-accordion-body,
.crm-collapsible>.crm-summary-block,
fieldset.crm-collapsible>div {
  @include accordion-body;
}
