$colourArtfulBrightBlue :#2c98ed;
$colourArtfulDarkBlue :#02477d;
$colourArtfulBrightBlueHigh :lighten($colourArtfulBrightBlue, 20%);
$colourArtfulMutedBlue:  #7cb5e1;
$colourArtfulAmber :#ffcc00;
$colourHighlight : lighten($colourArtfulAmber, 30%);
$colourVeryLightBlue: #e0effb;

$colourText : #222;
$colourDarkGrey : #333;
$colourMidGrey : #555;
$colourWhitishText : #eee;

$colourWidgetBackground : #f8f8f8;
$colourWidgetBorder : #e8e8e8;
$colourWidgetBackgroundLightest : #fcfcfc;

// This colour is used as the background to most boxes.
$colourSubtleHoverLightBlueGrey: #e6edf2;

$colourLayeredBackground: rgba(186, 208, 223, 0.27);

$colourSubtleHoverLightBlueGreyTint: #c6d5df;
$colourTabsBg: #eae9e4;
$colourFormElementsBorder: rgba(0, 0, 0, 0.2);

$colourWidgetSelectedBackground : lighten($colourArtfulBrightBlue, 25%);
$colourWidgetCouldSelectBackground : lighten($colourArtfulBrightBlue, 30%);
$colourBackground : #f3f2ed;
$colourBackgroundShade : darken(#f3f2ed, 10%);
// This colour is quite strong.
$colourBlueGrey: mix($colourBackground, $colourArtfulBrightBlue, 65%);

$colourGreenStrongBg: #97d462;
$colourGreenHint: #e9f9db;
$colourGreen2: mix($colourGreenStrongBg, $colourGreenHint, 50%);

$colourAmberStrongBg: #eaa75c;
$colourAmberLightBg: #fdf8e8;
$colourAmberHint: #ffedcc;
$colourRedDanger: #a00;
// #e8c6a2

// Bootstrap has 14px here. Nb. this is set here because our civicrm.scss file references it as well as our bootstrap.scss
$font-size-base:          16px;
