// Specific Page: Search Kit {{{
body.crm-name-crm-search-page-admin.aah-theme #crm-main-content-wrapper {
  max-width: unset;
}

// Our buttons are bulkier
.aah-theme #bootstrap-theme .crm-search-admin-search-listing-buttons {
  min-width: 105px;
}

// Un-setting unhelpful SK CSS.
.aah-theme #bootstrap-theme.crm-search {

  // Un-set pixel width(!) in SK core.
  .api4-clause-badge {
    width: unset;
  }

  // SK overrides fieldset. Also it uses fieldset without a legend, where as
  // we assume fieldsets to have legends.

  // First, redefine default fieldsets (that use legends)
  fieldset {
    // override core stuff
    border: none;
    border-radius: 4px;

    legend {
      background-color: transparent;
    }
  }

  fieldset.crm-draggable:nth-child(1) {
    display: flex;
    flex-wrap: wrap;
    align-items: flex-start;
  }

  .crm-search-admin-edit-columns {
    fieldset {
      display: flex;
      flex-wrap: wrap;
      align-items: flex-start;
    }

    .form-inline {
      padding-right: 2rem;
      padding-bottom: 0.5rem;
    }
  }

  search-admin-display-table .form-inline {
    padding-bottom: 0.5rem;
  }

  search-admin-display-table .form-control {

    &.checkbox-inline,
    &.radio-inline {
      padding-left: 3rem;
    }
  }

  // Within Wheres, this puts the "If" bubble to the left.
  crm-search-clause>.api4-clause-group-sortable>div>div {
    display: flex;
    gap: 1rem;
    padding: 1rem;

    &>.api4-clause-badge {
      flex: 0 0 5ch;
    }
  }

  .api4-clause-group-sortable>div:not(&:last-child) {
    border-bottom: solid 1px color-mix(in srgb, $colourArtfulMutedBlue 20%, transparent);
  }

  // Target the Add Where...
  crm-search-clause>.api4-input:last-child {
    padding: 1rem;

  }

  #expires_date~ :where(input, a) {
    margin-bottom: 0;
    margin-right: 0;
  }

  #expires_date~a {
    padding-top: 1em;
  }
}

.aah-theme #bootstrap-theme .crm-search-loading-placeholder {
  width: 100%; // why was it 80%?
  background: transparent;

  &:before {
    width: 100%;
    left: 0;
    height: 100%;
    background-image: none;
    animation: aahblockoverlay 5s infinite;
    border-radius: 3px;
  }
}

.crm-search-admin-relative {
  // Leave space for the absolutely positioned View Results thing.
  padding-top: 3.5rem;
}

// This is the container of most of the two columns (on wide screen)
.crm-search-admin-relative .crm-flex-box {
  gap: 1rem;
}

// The width of the Add field control is set by style attribute to 80px.
// The best we can do is fix font size so it's readable to those who squint.
.crm-search-display-table th:last-child>.crm-action-menu {
  font-size: 12px;
}


// Provide a little space between the With...Entity .form-inline element and the 'ON' clause.
.api4-clause-fieldset {
  margin-top: 0.5rem;
  // background-color: $colourWidgetBackground;
  background: $colourLayeredBackground;
}


// }}}
// Search kit display {{{
.crm-search-display-list li label {
  font-weight: normal;
}

.crm-search-display-list li {
  font-weight: bold;
}

// }}}

// vim:foldmethod=marker
