body.page-civicrm h1.page-header {
  display: none;
}

body.page-civicrm h3,
body.page-civicrm h4,
body.page-civicrm h5 {
  max-width: none;
}

body.page-civicrm #page {
  padding-top: 1rem;
  padding-left: 1rem;
  padding-right: 1rem;
}

body.page-civicrm-a #content {
  max-width: 1200px;
  margin-left: auto;
  margin-right: auto;
  padding-left: 1rem;
  padding-right: 1rem;
}

#printer-friendly,
.ui-button.crm-dialog-titlebar-print {
  display: none;
}

@media print {
  #civicrm-footer,
  #access,
  #civicrm-menu {
    display: none;
  }

  body.page-civicrm {
    padding-top: 0;
  }
}

#bootstrap-theme .crm-mosaico-template-item {
  display: -webkit-box;
  display: flex;
  width: 100%;
}

#bootstrap-theme .crm-mosaico-template-item .crm-mosaico-template-title-wrapper {
  height: unset;
  -webkit-box-flex: 1;
          flex: 1 0 160px;
}

#bootstrap-theme .crm-mosaico-template-item .crm-mosaico-template-image-wrapper {
  -webkit-box-flex: 0;
          flex: 0 0 160px;
}

#civicrm-menu,
#root-menu-div ul,
.ui-widget {
  font-family: Lato;
}

.ui-widget {
  font-size: 1em;
}

.crm-container h3 {
  background: transparent;
  margin: 2.5rem 0 0.5rem;
  font-size: 1.25rem;
}

.crm-i-green {
  color: #97d462;
}

.crm-i-red {
  color: #a00;
}

.crm-i-blue {
  color: #02477d;
}

#crm-container div#alpha-filter {
  background-color: #f8f8f8;
  padding: 0.25rem 1rem;
}

.crm-action-menu::before {
  display: none;
}

.label {
  color: inherit;
}

td.label {
  display: table-cell;
}

.panel-heading h1,
.panel-heading h2,
.panel-heading h3 {
  margin: 0;
}

.ui-widget-header {
  background: #f8f8f8;
  border: none;
}

.ui-state-default,
.ui-widget-content .ui-state-default,
.ui-widget-header .ui-state-default {
  background: #f8f8f8;
  border: none;
  border-radius: 0;
}

.ui-state-default:hover,
.ui-widget-content .ui-state-default:hover,
.ui-widget-header .ui-state-default:hover {
  background: #e6edf2;
}

.ui-state-default a,
.ui-state-default a:link,
.ui-state-default a:visited,
a.ui-button,
a:link.ui-button,
a:visited.ui-button,
.ui-button {
  color: inherit;
  margin-right: 0;
  border: none;
}

.ui-state-active,
.ui-widget-content .ui-state-active,
.ui-widget-header .ui-state-active {
  background: #f8f8f8;
  border: none;
  border-radius: 0;
  background: #a1d1f7;
  color: #2c98ed;
}

.ui-state-active:hover,
.ui-widget-content .ui-state-active:hover,
.ui-widget-header .ui-state-active:hover {
  background: #e6edf2;
}

.ui-state-active a:link,
.ui-state-active a:visited,
.ui-widget-content .ui-state-active a:link,
.ui-widget-content .ui-state-active a:visited,
.ui-widget-header .ui-state-active a:link,
.ui-widget-header .ui-state-active a:visited {
  color: #2c98ed;
}

.ui-state-hover,
.ui-widget-content .ui-state-hover,
.ui-widget-header .ui-state-hover,
.ui-state-focus,
.ui-widget-content .ui-state-focus,
.ui-widget-header .ui-state-focus,
.ui-button:hover,
.ui-button:focus {
  background: #127fd4;
  color: inherit;
  border: none;
}

.ui-state-active,
.ui-widget-content .ui-state-active,
.ui-widget-header .ui-state-active,
a.ui-button:active,
.ui-button:active,
.ui-button.ui-state-active:hover {
  background: #127fd4;
}

.crm-actions-ribbon > ul {
  margin: 1rem 0;
  padding: 0;
}

.crm-actions-ribbon > ul li {
  list-style: none;
  display: inline-block;
  margin-right: 1rem;
}

#crm-contact-actions-list {
  display: none;
}

.action-link {
  margin: 1rem 0;
}

.action-link a {
  margin-right: 1rem;
}

.crm-accordion-wrapper {
  margin-bottom: 1rem;
  border-bottom: solid 1px rgba(0, 0, 0, 0.2);
}

.crm-accordion-wrapper.collapsed .crm-accordion-body {
  display: none;
}

#crm-container .widget-content .crm-accordion-wrapper.collapsed .crm-accordion-header,
#crm-container .widget-content .crm-accordion-header {
  background-image: none !important;
}

.crm-accordion-header {
  padding: 0.5rem 1rem 0.5rem 2.5rem;
  background-color: #add3ed;
  color: #02477d;
  -webkit-transition: background-color 0.2s;
  transition: background-color 0.2s;
  cursor: pointer;
}

.crm-accordion-header.active {
  background-color: #5baff1;
  color: #02477d;
}

.crm-accordion-header:hover,
.crm-accordion-header.active:hover {
  background-color: #5baff1;
}

.crm-accordion-header::before {
  content: "\F18E";
  font: normal normal normal 14px/1 FontAwesome;
  font-size: inherit;
  text-rendering: auto;
  display: block;
  position: absolute;
  margin-left: -1.5rem;
  margin-top: 0.25rem;
  -webkit-transition: -webkit-transform 0.3s;
  transition: -webkit-transform 0.3s;
  transition: transform 0.3s;
  transition: transform 0.3s, -webkit-transform 0.3s;
  -webkit-transform: rotateZ(90deg);
  transform: rotateZ(90deg);
}

#crm-container #civicrm-dashboard .widget-controls,
.crm-accordion-body {
  background: #e6edf2;
  padding: 1rem;
  border-radius: 0;
  border: none;
}

.crm-accordion-wrapper.collapsed .crm-accordion-header::before {
  -webkit-transform: none;
  transform: none;
}

.crm-collapsible {
  margin: 0.5rem 0;
  background-color: #add3ed;
  -webkit-transition: background-color 0.2s;
  transition: background-color 0.2s;
  padding: 0.5rem 1rem;
}

.crm-collapsible.collapsed > div {
  display: none;
}

.crm-collapsible.collapsed > .collapsible-title {
  display: block;
}

.crm-collapsible .collapsible-title {
  color: #02477d;
  cursor: pointer;
}

.crm-button {
  position: relative;
}

.crm-button i {
  position: absolute;
  pointer-events: none;
  color: white;
  line-height: 1;
  top: 0.15rem;
  left: 0.75rem;
}

.crm-button.btn i.crm-i {
  position: static;
  margin-right: 0.5em;
}

.crm-button input.crm-form-submit,
.crm-button input[type="button"] {
  padding: 0.25rem 1rem 0.25rem 2rem;
}

input.crm-form-submit,
input[type="button"] {
  display: inline-block;
  background: #2c98ed;
  padding: 0.25rem 1rem;
  border: none;
  border-radius: 3px;
  color: white;
  text-shadow: none;
  box-shadow: none;
}

input.crm-form-submit:hover,
input[type="button"]:hover {
  background-color: #127fd4;
}

a.button,
a.button:link,
a.button:visited,
.ui-button,
.ui-dialog-buttonset .ui-button {
  display: inline-block;
  padding: 0.25rem 1rem;
  background: #2c98ed;
  border: none;
  border-radius: 3px;
  color: white;
  text-shadow: none;
  box-shadow: 0 0 6px rgba(0, 0, 0, 0.2);
}

a.button:active,
a.button:hover,
a.button:link:active,
a.button:link:hover,
a.button:visited:active,
a.button:visited:hover,
.ui-button:active,
.ui-button:hover,
.ui-dialog-buttonset .ui-button:active,
.ui-dialog-buttonset .ui-button:hover {
  background-color: #127fd4;
  text-decoration: none;
}

.crm-inline-button,
.crm-submit-buttons {
  margin-bottom: 1rem;
  margin-top: 1rem;
}

.crm-inline-button .crm-button,
.crm-submit-buttons .crm-button {
  margin-right: 1rem;
}

td > .crm-submit-buttons:first-child {
  margin-top: 0;
}

.ui-dialog-titlebar .ui-dialog-titlebar-close,
.ui-dialog-titlebar button,
.ui-dialog-titlebar span.ui-button {
  border-radius: 0;
  background: transparent;
  border: solid 1px #2c98ed;
  color: #2c98ed;
  box-shadow: none;
  width: 1.6rem;
}

.ui-dialog-titlebar .ui-dialog-titlebar-close:hover,
.ui-dialog-titlebar button:hover,
.ui-dialog-titlebar span.ui-button:hover {
  background: rgba(255, 255, 255, 0.5);
  border: solid 1px #2c98ed;
}

.btn-slide {
  position: relative;
  cursor: pointer;
}

.btn-slide .panel {
  display: none;
  position: absolute;
  right: 0;
  width: 15rem;
  padding: 0;
  margin: 0;
  background: white;
  box-shadow: 0 0 6px rgba(0, 0, 0, 0.2);
  z-index: 1;
}

.btn-slide .panel li {
  list-style: none;
  font-size: 0.875rem;
  padding: 0;
}

.btn-slide .panel li a {
  display: block;
  padding: 0.25rem 1rem;
  margin: 0;
  text-decoration: none;
}

.btn-slide .panel li a:hover {
  background: #e6edf2;
  text-decoration: none;
}

.crm-hover-button {
  display: inline-block;
  padding: 0 0.5rem;
  margin-right: 0.5rem;
}

.crm-container .help,
.crm-container #help {
  padding: 1rem;
  border-radius: 0;
  border: none;
  background: #e0effb;
  border-left: 2rem solid #b3d2ea;
  font-size: 1rem;
  margin-bottom: 1rem;
}

.crm-container .help::before,
.crm-container #help::before {
  position: absolute;
  margin-left: -2.2rem;
  content: "\F0EB";
  font-size: 1.25rem;
  display: inline-block;
  font: normal normal normal 14px/1 FontAwesome;
  font-size: inherit;
  text-rendering: auto;
  color: white;
}

.crm-container input[type="text"],
.crm-container input[type="password"],
.crm-container textarea {
  border-color: rgba(0, 0, 0, 0.2);
}

.crm-form-checkbox,
.crm-form-radio {
  position: absolute;
}

.crm-form-checkbox:last-child,
.crm-form-radio:last-child {
  position: static;
}

.crm-form-checkbox + label,
.crm-form-checkbox + .description,
.crm-form-radio + label,
.crm-form-radio + .description {
  padding-left: 1.5rem;
}

.crm-section {
  display: -webkit-box;
  display: flex;
  flex-wrap: wrap;
}

.crm-section > .label {
  -webkit-box-flex: 0;
          flex: 0 1 12rem;
  padding-right: 1rem;
  font-size: inherit;
  display: inline-block;
  text-align: right;
}

.crm-section > .content {
  -webkit-box-flex: 1;
          flex: 1 0 12rem;
  margin-right: 2rem;
}

.crm-section > .content .crm-form-checkbox,
.crm-section > .content .crm-form-radio {
  position: static;
}

.crm-section > .content .crm-form-checkbox + label,
.crm-section > .content .crm-form-radio + label {
  display: inline;
  margin-right: 4rem;
  padding-left: 0;
}

.crm-container a.crm-icon-picker-button {
  display: inline-block;
  min-width: 10em;
  height: 1.5rem;
  text-align: inherit;
  color: white;
}

#crmIconPicker a.ui-button {
  box-sizing: content-box;
  margin-bottom: 0.5rem;
  margin-right: 1rem;
  color: white !important;
}

.crm-container a.crm-icon-picker-button.ui-button-text-only .ui-button-text {
  padding: .4em .2em;
}

thead tr:first-child {
  position: -webkit-sticky;
  position: sticky;
  top: 2.6rem;
  z-index: 20;
}

div.status,
div.messages {
  background: #fdf8e8;
  border: none;
  margin: 1rem 0;
  padding: 1rem;
  border-left: solid 2rem #eaa75c;
  position: relative;
}

div.status img[alt="status"],
div.messages img[alt="status"] {
  display: none;
}

div.messages .icon {
  position: absolute;
  top: 1rem;
  left: -2rem;
  width: 2rem;
  text-align: center;
}

div.messages .icon.inform-icon::before {
  display: inline-block;
  content: "\F05A";
  font: normal normal normal 14px/1 FontAwesome;
  font-size: inherit;
  text-rendering: auto;
  color: white;
}

#crm-notification-container {
  min-width: 30rem;
  max-width: 45rem;
  color: #222;
  position: fixed;
  top: 3rem;
  right: 1rem;
}

#crm-notification-container .ui-notify-message a.ui-notify-cross {
  position: absolute;
  top: 1rem;
  right: 1rem;
  float: none;
  font-size: 1rem;
  text-shadow: none;
  padding: 0.2rem 0.75rem;
  color: white;
  border: solid 1px white;
  border-radius: 2px;
  text-decoration: none;
}

#crm-notification-container .ui-notify-message a.ui-notify-cross:hover,
#crm-notification-container .ui-notify-message a.ui-notify-cross:active {
  background: rgba(255, 255, 255, 0.5);
  text-decoration: none;
}

#crm-notification-container div.ui-notify-message-style {
  background: white;
  border-left: solid 4px #eaa75c;
  box-shadow: -1rem 1rem 2rem rgba(0, 0, 0, 0.2);
}

#crm-notification-container div.ui-notify-message-style.success {
  border-left-color: #97d462;
}

#crm-notification-container div.ui-notify-message-style.success div.icon {
  color: white;
}

#crm-notification-container div.ui-notify-message-style.success h1 {
  background-color: #97d462;
  color: white;
}

#crm-notification-container div.ui-notify-message-style.error {
  border-left-color: #a00;
}

#crm-notification-container div.ui-notify-message-style.error div.icon {
  color: white;
}

#crm-notification-container div.ui-notify-message-style.error h1 {
  background-color: #a00;
  color: white;
}

#crm-notification-container div.ui-notify-message {
  position: relative;
  padding: 0;
  margin-bottom: 1rem;
  border-radius: 2px;
  max-height: calc(100vh - 45px);
  overflow: auto;
  color: #222;
}

#crm-notification-container div.ui-notify-message h1 {
  color: black;
  background: #eaa75c;
  font-size: 1rem;
  margin: 0;
  padding: 1rem 1rem 1rem 3rem;
  min-height: 3.7rem;
}

#crm-notification-container div.ui-notify-message .notify-content {
  padding: 1rem;
}

.crm-container div.ui-notify-message div.icon,
.crm-status-icon {
  margin-right: 0;
  text-indent: 0;
  float: none;
  position: absolute;
  top: 1rem;
  left: 1rem;
}

.crm-container div.ui-notify-message div.icon::before,
.crm-status-icon::before {
  content: '\26A0';
  display: block;
  width: 1.5rem;
  height: 1.5rem;
  text-align: center;
  color: #222;
}

.crm-container div.ui-notify-message.success div.icon::before,
.crm-status-icon.success::before {
  content: '\2714';
}

.crm-profile .radio-wrapper {
  display: block;
}

.select2-container .select2-choice {
  background-color: white;
  -webkit-filter: none;
          filter: none;
  background-image: none;
}

.select2-container .select2-choice .select2-arrow {
  width: 1.8rem;
  border-left: 1px solid #aaa;
  background-color: rgba(0, 0, 0, 0.1);
  border-radius: 0;
  -webkit-filter: none;
          filter: none;
  background-image: none;
  text-align: center;
}

.select2-container .select2-choice .select2-arrow b {
  width: 18px;
  display: inline-block;
}

.select2-container .select2-choice,
.select2-container-multi .select2-choices {
  border-color: rgba(0, 0, 0, 0.2);
  border-radius: 2px;
}

.select2-container .select2-choice abbr {
  top: 10px;
  right: 2.2rem;
}

.select2-container {
  min-width: 7rem;
}

.select2-container-multi {
  min-width: 14rem;
}

.select2-container .select2-choice {
  height: 2.25rem;
}

.select2-arrow,
.select2-chosen {
  padding: 0.25rem 0;
}

.select2-container .select2-choice > .select2-chosen {
  margin-right: 2rem;
}

.crm-select2-row-description {
  display: none;
}

.select2-results .crm-select2-row-description {
  display: block;
  font-size: 0.75rem;
  color: #555;
}

.form-control.select2-container {
  padding: 0;
  border: none;
}

.crm-summary-link {
  display: inline-block;
  color: #02477d;
  width: 2rem;
  height: 2rem;
}

.crm-summary-link .crm-icon {
  line-height: 2rem;
  font: normal normal normal 14px/1 FontAwesome;
  font-size: inherit;
  text-rendering: auto;
}

.crm-summary-link .crm-icon.Individual-icon::before {
  content: "\F2BD";
  display: inline-block;
}

.crm-summary-link .crm-icon.Organization-icon::before {
  content: "\F0F7";
  display: inline-block;
}

.crm-summary-link .crm-tooltip-wrapper {
  display: none;
  position: absolute;
  background: white;
  padding: 0 1rem;
  font-size: 1rem;
  z-index: 1;
  box-shadow: -1rem 1rem 2rem rgba(0, 0, 0, 0.2);
}

.crm-summary-link.crm-tooltip-active .crm-tooltip-wrapper {
  display: block;
}

#civicrm-footer {
  margin-top: 5rem;
  text-align: center;
  font-size: 0.75rem;
  opacity: 0.8;
}

.status.crm-error {
  background: #a00;
  border-radius: 2px;
  padding: 0 0.5rem;
  margin: 0 0.5rem;
  color: white;
}

.status.crm-error a:link,
.status.crm-error a:visited {
  color: white;
}

a.helpicon::before {
  font: normal normal normal 14px/1 FontAwesome;
  font-size: inherit;
  text-rendering: auto;
  content: "\F059";
  display: inline-block;
  line-height: 1;
  text-align: center;
  color: #2c98ed;
}

#access {
  margin-top: 1rem;
  font-size: 0.875rem;
}

.crm-container .crm-tab-button a,
.crm-container .ui-tabs .ui-tabs-nav li a {
  padding: 0.5rem 1rem;
}

.crm-container .crm-tab-button a em,
.crm-container .ui-tabs .ui-tabs-nav li a em {
  background: #2c98ed;
  border-radius: 0.5rem;
  font-size: 0.8125rem;
  padding: 0 0.3rem;
  color: white;
  font-style: normal;
  font-weight: bold;
}

.crm-container .crm-tab-button a em:empty,
.crm-container .ui-tabs .ui-tabs-nav li a em:empty {
  display: none;
}

.crm-container ul li.crm-tab-button.ui-state-active {
  background: none;
  border-bottom: solid 2px #2c98ed;
}

.crm-container ul li.crm-tab-button em {
  margin-left: 1rem;
  display: inline-block;
}

#crm-container table {
  border-collapse: collapse;
}

#crm-container table td,
#crm-container table th {
  padding: 0.5rem 1rem;
  background-clip: padding-box;
}

#crm-container table td {
  border: solid 1px #e8e8e8;
}

#crm-container table th {
  background-color: #e6edf2;
  border: solid 1px #c6d5df;
}

#crm-container table.form-layout {
  width: 100%;
}

#crm-container table.form-layout th,
#crm-container table.form-layout td {
  padding: 0.25rem 0.5rem;
  border: none;
}

table.form-layout-compressed {
  width: 100%;
}

table.form-layout-compressed th,
table.form-layout-compressed td {
  padding: 0.25rem 0.5rem;
  border: none;
  font-size: 0.875rem;
}

table.selector {
  width: 100%;
}

table.selector tr.disabled td {
  opacity: 0.35;
}

table.selector th,
table.selector td {
  padding: 0.25rem 0.5rem;
  border: none;
  font-size: 0.875rem;
}

table.selector th > .crm-form-checkbox,
table.selector td > .crm-form-checkbox {
  position: static;
}

.dataTables_wrapper .dataTables_paginate .paginate_button {
  padding: 0 0.5rem;
}

.dataTables_wrapper .dataTables_paginate .paginate_button.current,
.dataTables_wrapper .dataTables_paginate .paginate_button.current:hover {
  border: none;
  border: solid 1px #2c98ed;
  background-color: #e0effb;
  background-image: none;
}

.crm-container .odd-row,
.crm-container .odd,
tbody.scrollContent {
  background-color: #f8f8f8;
}

.crm-container .even-row,
.crm-container .even,
tbody.scrollContent tr.alternateRow {
  background-color: #fcfcfc;
}

.crm-container table.row-highlight tr.even-row:hover,
.crm-container table.row-highlight tr.even:hover,
.crm-container .even-row.crm-row-selected,
.crm-container .even.crm-row-selected,
.crm-container table.row-highlight tr:hover,
.crm-container .crm-row-selected {
  background-color: #e6edf2;
}

.hiddenElement {
  display: none;
}

.prettyprint {
  white-space: pre-wrap;
}

.crm-summary-display_name {
  margin-top: 1rem;
  font-size: 1.6875rem;
  color: #02477d;
}

.crm-inline-edit {
  position: relative;
}

.crm-inline-edit .crm-container-snippet {
  padding: 1rem;
  background: white;
  overflow: auto;
  max-width: 100%;
}

.crm-inline-edit .crm-edit-help {
  display: none;
  position: absolute;
  top: -1.4rem;
  left: -1px;
  height: 1.4rem;
  background: #f8f8f8;
  padding: 0 1rem;
  line-height: 1.4rem;
  border: solid 1px #2c98ed;
  border-bottom-style: none;
}

.crm-inline-edit:hover {
  outline: #2c98ed solid 1px;
}

.crm-inline-edit:hover .crm-edit-help {
  display: block;
}

.crm-contact-page #mainTabContainer {
  display: grid;
  grid-template-columns: 12rem auto;
  padding: 0;
  border: none;
}

.crm-contact-page #mainTabContainer .crm-contact-tabs-list {
  padding: 0;
  background-color: #e6edf2;
  border-left: solid 1px rgba(0, 0, 0, 0.1);
  margin: 0;
  border-radius: 0;
}

.crm-contact-page #mainTabContainer .crm-contact-tabs-list li.crm-tab-button {
  margin: 0;
  background: none;
  display: block;
  float: none;
  top: 0;
  margin-right: 0;
  border-bottom: solid 1px rgba(0, 0, 0, 0.05);
}

.crm-contact-page #mainTabContainer .crm-contact-tabs-list li.crm-tab-button:first-child {
  border-top: none;
}

.crm-contact-page #mainTabContainer .crm-contact-tabs-list li.crm-tab-button a {
  float: none;
}

.crm-contact-page #mainTabContainer .crm-contact-tabs-list .ui-tabs-anchor {
  display: -webkit-box;
  display: flex;
  -webkit-box-align: center;
          align-items: center;
  padding: 0.5rem 1rem !important;
}

.crm-contact-page #mainTabContainer .crm-contact-tabs-list .ui-tabs-anchor:focus {
  outline: none;
}

.crm-contact-page #mainTabContainer .crm-contact-tabs-list .ui-tabs-anchor i {
  -webkit-box-flex: 0;
          flex: 0 0 1.2rem;
}

.crm-contact-page #mainTabContainer .crm-contact-tabs-list .ui-tabs-anchor span {
  -webkit-box-flex: 1;
          flex: 1 1 auto;
  padding-left: 1em;
  font-size: 0.875rem;
}

.crm-contact-page #mainTabContainer .crm-contact-tabs-list .ui-tabs-anchor em {
  -webkit-box-flex: 0;
          flex: 0 0 auto;
  background: #02477d;
  background: #2c98ed;
  border-radius: 0.5rem;
  font-size: 0.8125rem;
  padding: 0 0.3rem;
  color: white;
  font-style: normal;
  font-weight: bold;
}

.crm-contact-page #mainTabContainer .crm-contact-tabs-list .crm-count- em,
.crm-contact-page #mainTabContainer .crm-contact-tabs-list .crm-count-0 em {
  display: none;
}

.crm-contact-page #mainTabContainer .crm-contact-tabs-list li.crm-tab-button.ui-state-active {
  background: #f8f8f8;
}

.crm-contact-page #mainTabContainer .crm-contact-tabs-list li.crm-tab-button.ui-state-active .ui-tabs-anchor {
  background: #f8f8f8;
  background: white;
  color: black;
  border-bottom: none;
  font-weight: bold;
}

.crm-contact-page #mainTabContainer .crm-contact-tabs-list li.ui-tabs-active {
  margin-bottom: 0;
}

.crm-contact-page #mainTabContainer .ui-tabs-panel {
  padding: 1rem;
}

.crm-container div.contact_panel {
  display: grid;
  grid-template-columns: repeat(2, minmax(15rem, 1fr));
  grid-gap: 1rem;
  margin-bottom: 1rem;
}

#crm-container div.contactCardRight,
#crm-container div.contactCardLeft {
  width: auto;
  background: #f8f8f8;
  border-left: solid 1px #e8e8e8;
}

.crm-summary-block {
  margin-bottom: 1px;
}

#contact-summary .crm-inline-block-content {
  background: white;
  background: #f8f8f8;
  padding: 1rem;
}

#contact-summary .crm-inline-block-content .crm-label {
  font-size: 0.875rem;
}

div.crm-summary-row {
  display: -webkit-box;
  display: flex;
  flex-wrap: wrap;
  margin-bottom: 0.3125rem;
}

div.crm-summary-row .crm-label {
  -webkit-box-flex: 0;
          flex: 0 0 8rem;
}

div.crm-summary-row .crm-content {
  -webkit-box-flex: 1;
          flex: 1 0 8rem;
}

#crm-container .separator {
  border-bottom: solid 1px rgba(0, 0, 0, 0.2);
}

table {
  margin: 1rem 0;
}

#crm-container th.contriTotalLeft,
#crm-container th.contriTotalRight {
  border: none;
}

#crm-record-log {
  margin-top: 2rem;
  font-size: 0.75rem;
  opacity: 0.8;
}

#crm-record-log span {
  margin-right: 1rem;
}

#civicrm-dashboard {
  display: -webkit-box;
  display: flex;
  flex-wrap: wrap;
}

#civicrm-dashboard #column-0 {
  -webkit-box-flex: 1;
          flex: 1 0 40%;
}

#civicrm-dashboard #column-1 {
  -webkit-box-flex: 1;
          flex: 1 0 60%;
}

.crm-container .ui-tabs .ui-tabs-nav.crm-extensions-tabs-list li a em {
  display: none;
}

#crm-container ul.wizard-bar {
  border: none;
}

.ui-widget-content {
  border-color: #e8e8e8;
  background: #f8f8f8;
  background: white;
}

#crm-container div.crm-summary-contactname-block {
  margin-top: 0;
}

#crm-container #civicrm-dashboard h3.widget-header {
  color: #222;
}

.crmMailing .preview-popup,
.crmMailing .preview-contact,
.crmMailing .preview-group {
  height: 6rem;
}

.crm-tag-item {
  line-height: 1.25;
}

.crm-container div.crm-clear {
  font-size: inherit;
}

.crm-container .crm-form-block {
  background-color: white;
  padding: 1rem;
}

.crm-container input {
  box-sizing: border-box;
}

#secondaryTabContainer {
  border: none;
  padding: 0;
}

